* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-family: "Poppins", serif;
  font-size: 62.5%;
  font-weight: 300;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}