@import url("header.css");
@import url("main.css");
@import url("section_ilustra.css");
@import url("section_customers.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgraund-header-nav: #FFFFFF;
  --font-nav-color: #191619;
  --font-parag-color: #878787;
  --btn-button: #0CBBC7;
  --span-color: #0CBBC7;
  --btn-button-hove: #09ACC7;
  --font-nav-color-hove: #09ACB7;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-family: "Poppins", serif;
  font-size: 62.5%;
  font-weight: 300;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}